{% extends request.is_ajax|yesno:"LagerApp/base_ajax.html,LagerApp/masterpage.html" %}
{% block content %}
    <h1>Hello, world!</h1>
      <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Date</td>
                    <td>Product</td>
                    <td>Warehouse</td>
                    <td>Quantity</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2012-02-22</td>
                    <td>jPhone</td>
                    <td>Norrköping</td>
                    <td>450</td>
                </tr>
                <tr>
                    <td>2012-02-22</td>
                    <td>jPhone</td>
                    <td>Norrköping</td>
                    <td>450</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
          </div><!---Col-md-6----->
      </div> <!---Row----->

{% endblock %}