<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>LagerApp</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Bootstrap Theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'LagerApp/css/jquery-ui.min.css' %}">
      <link rel="stylesheet" href="{% static 'LagerApp/css/jquery-ui.structure.min.css' %}">
      <link rel="stylesheet" href="{% static 'LagerApp/css/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'LagerApp/css/custom.css' %}">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <nav class="navbar navbar-default" id="main_navbar">
      <div class="container">
          <div class="col-md-2 hidden-xs"></div>
          <div class="col-md-8">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
                      <span class="sr-only"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"><img alt="Home Button" src="{% static 'LagerApp/img/homebutton.png' %}" id="home_button"> </a>
              </div><!-----nav header-->

              <div class="collapse navbar-collapse" id="collapsable-nav">
                  {% if user.is_authenticated %}
                  <ul class="nav navbar-nav">
                      <li class="active"><a href="/add/">New transaction</a></li>
                      <li><a href="/transactions/">Transactions</a></li>
                      <li><a href="/saldo/">Saldo</a></li>
                      <li><p>Logged in as {{ user.username }}</p></li>
                      <li><a href="/logout/">Logout <span class="sr-only">(current)</span></a></li>
                  {% endif %}
                  </ul><!---nav navbar-nav-------->
              </div><!---#collapsable-nav-------->
          </div><!---col-md-8-------->
      </div><!---container-------->
  </nav>
  <div class="container" id="main">
    {% block content %}
    {% endblock %}
  </div><!---Container----->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed  -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{% static 'LagerApp/js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'LagerApp/js/myscript.js' %}"></script>
  </body>
</html>
