{% extends request.is_ajax|yesno:"LagerApp/base_ajax.html,LagerApp/masterpage.html" %}
{% block content %}
    <h1>Hello, world!</h1>
      <div class="row">
          <div class="col-md-12">
          {% if products %}
            <table class="table table-striped">
                <thead>
                {% for product in products %}
                    <tr><td>{{ product.name }}</td></tr>
                {% endfor %}
                </thead>
            </table>
          {% endif %}
          </div><!---Col-md-6----->
      </div> <!---Row----->
{% endblock %}