{% extends request.is_ajax|yesno:"LagerApp/base_ajax.html,LagerApp/masterpage.html" %}
{% block content %}
    <div class="container">
      <div class="row">
      <div class="col-md-2 hidden-xs"></div>
          <div class="col-md-8">
          <h1>Current quantities of products per warehouse</h1>
            {% if saldos %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Product</td>
                        <td>Warehouse</td>
                        <td>Current quantity</td>
                    </tr>
                </thead>
                {% for s in saldos %}
                    <tr>
                        <td>{{ s.prod }}</td>
                        <td>{{ s.warehouse }}</td>
                        <td>{{ s.quant }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
          </div><!---Col-md-6----->
      </div> <!---Row----->
    </div>
{% endblock %}