{% extends request.is_ajax|yesno:"LagerApp/base_ajax.html,LagerApp/masterpage.html" %}
{% block content %}
    <div class="container">
      <div class="row">
      <div class="col-md-2 hidden-xs"></div>
          <div class="col-md-8 col-xs-12">
          <h1>Transactions</h1>
          {% if transactions %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td><a href="?order_by=date">Date</a></td>
                        <td><a href="?order_by=product__name">Product</a></td>
                        <td><a href="?order_by=warehouse__name">Warehouse</a></td>
                        <td><a href="?order_by=quantity">Quantity</a></td>
                    </tr>
                </thead>
                {% for sale in transactions %}
                    <tr>
                        <td>{{ sale.date }}</td>
                        <td>{{ sale.product.name }}</td>
                        <td>{{ sale.warehouse.name }}</td>
                        <td>{{ sale.quantity }}</td>
                    </tr>
                {% endfor %}
            </table>
          {% else %}
              <h1>Error</h1>
              <p>Something went wrong, <a href="{% url 'transactions' %}">click here to try again</a></p>
          {% endif %}

          {% if transactions.has_previous %}
              <a class="btn btn-default paginator" href="?page={{ transactions.previous_page_number }}">Previous</a>
              {% else %}
              <a class="btn btn-default disabled">Previous</a>
          {% endif %}
          {% if transactions.has_next %}
              <a class="btn btn-default paginator" href="?page={{ transactions.next_page_number }}">Next</a>
              {% else %}
              <a class="btn btn-default disabled">Next</a>
          {% endif %}
          </div><!---Col-md-6----->
      </div> <!---Row----->
    </div>
{% endblock %}