div.container#main{
    background-color: #e2e2e2;
    padding-bottom: 100px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #e7e7e7;
}

form#login_form{
    margin: 50px auto;
    width: 200px;
}

select#warehouse_select{
    padding-right: 0px;
    display: inline-block;
    width: 65%;
    width: -webkit-calc(100% - 110px);
    width: -moz-calc(100% - 110px);
    width: calc(100% - 110px);
}
select#tofrom{
    max-width: 100px;
    display: inline-block;
}


ul.nav li p{
    padding: 15px 15px 5px 15px;
}

img#home_button{
    width: 24px;
}
select#add_year, select#add_month, select#add_day{
    width:auto;
    display: inline-block;
}
thead{
    font-weight: bolder;
}
/*@media (max-width: 768px) {*/
    /*div#main form#add_form .form-control{*/
        /*width:auto;*/
        /*display: inline-block;*/
    /*}*/
/*}*/

#main_navbar h2{
    display: inline-block;
}

.ui-icon{
    display:inline-block;
}