form#login_form{
    margin: 50px auto;
    width: 200px;
}

select#warehouse_select{
    padding-right: 0px;
    width: 59%;
}
select#tofrom{
}

ul.nav li p{
    padding: 15px 15px 5px 15px;
}

img#home_button{
    width: 24px;
}
select#add_year, select#add_month, select#add_day{
    width:auto;
    display: inline-block;
}

@media (max-width: 768px) {
    div#main form#add_form .form-control{
        width:auto;
        display: inline-block;
    }
}